.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  padding: 3rem;
  overflow: hidden;
  background-color: #e2e8f0;
}

@media screen and (min-width: 320px) {
  .App {
    padding-top: 7em;
  }
}
